*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Regular.ttf);
}

body {
  margin: 0 20vw;
  font-size: 16px;
// background: linear-gradient(130deg, rgb(218, 230, 255), rgb(242, 255, 205), rgb(255, 223, 223));
  font-family: Poppins;
  height: 100vh;

  display: flex;
  gap: 10px;
  flex-direction: column;
  .nav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 0 0 0;
    .logo {
      font-weight: 500;
      font-size: 1.3em;
      color: rgba(0,0,0,.9);
    }
  }

    .colorfeed { 
      display: flex;
      gap: 0px;
      .coloroption {
        width: 50px;
        height: 40px;
        cursor: pointer;
      }
    }

  .addnew {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    #newmsg {
      font-family: Poppins;
      background-color: #eeeeee;
      border: transparent;
      font-size: 20px;
      height:60vh;
      width: 100%;
      padding: 0px;
      outline: none;
      color: #666;
    
      resize: none;
      font-weight: 400;
    }
  }

   .tools {
     
      display: flex;
      flex-direction: row;
      justify-content: end;
      
      gap: 10px;
      .tool {
           cursor: pointer;
      //  border: 1px solid #222;
         box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1px ;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        font-size: 1.5em;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

      }
    }

    .tip{
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
        text-align: center;
    
      a {
        display: flex;
        font-size: 1em;
        font-weight: 600;
        padding: 0 5px;
        cursor: pointer;
        color: #15c39a;
        text-decoration: none;

        &:hover {
          color: rgb(255, 193, 60);
        }
      }
    }

  .design{
  
 padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
 .author>a{
   font-weight: 600;
   padding-left:5px ;
   cursor: pointer;
   color: rgb(240, 106, 106);
        text-decoration: none;
   &:hover{
     color: rgb(255, 193, 60);
   }
 }
}
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 10px;



    .colorfeed {
      .coloroption {
        width: 40px;
        height: 40px;
      }
    }

    

    .feed {
      .card {
        width: 100%;
      }
    }

    .design{
      padding: 15px 0;
    }
  }
}
