*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Regular.ttf);
}

body {
  margin: 0 20vw;
  font-size: 16px;
  font-family: Poppins;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 10px 0 0 0;
}

body .nav .logo {
  font-weight: 500;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.9);
}

body .colorfeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
}

body .colorfeed .coloroption {
  width: 50px;
  height: 40px;
  cursor: pointer;
}

body .addnew {
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body .addnew #newmsg {
  font-family: Poppins;
  background-color: #eeeeee;
  border: transparent;
  font-size: 24px;
  height: 60vh;
  width: 100%;
  padding: 10px;
  outline: none;
  color: #666;
  resize: none;
  font-weight: 400;
}

body .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
}

body .tools .tool {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .design {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .design .author > a {
  font-weight: 600;
  padding-left: 5px;
  cursor: pointer;
  color: #f06a6a;
  text-decoration: none;
}

body .design .author > a:hover {
  color: #ffc13c;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 10px;
  }
  body .colorfeed .coloroption {
    width: 40px;
    height: 40px;
  }
  body .feed .card {
    width: 100%;
  }
  body .design {
    padding: 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */